.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}